name: Update README Year

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Replace YEAR in README
        run: |
          YEAR=$(date +%Y)
          sed -i "s/<CURRENT_YEAR>/$YEAR/g" README.md
      - name: Commit updated README
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update copyright year to $YEAR" || echo "No changes"
          git push
